@import './normalize';

/*
========================================================================================================================
  ARIA
========================================================================================================================
*/
[aria-hidden="true"] {
  display: none;
}

[aria-hidden="false"] {
  display: initial;
}

/*
========================================================================================================================
  LAYOUT - CONTAINERS
========================================================================================================================
*/
.container {
  display: flex;
}

/*
========================================================================================================================
  LAYOUT - ITEMS HORIZONTAL LAYOUT
========================================================================================================================
*/

.items-left {
  justify-content: flex-start;
}

.items-right {
  justify-content: flex-end;
}

.items-horizontal-center {
  justify-content: center;
}

.items-space-around {
  justify-content: space-around;
}

.items-space-between {
  justify-content: space-between;
}

/*
========================================================================================================================
  LAYOUT - ITEMS VERTICAL LAYOUT
========================================================================================================================
*/

.items-top {
  align-items: flex-start;
}

.items-bottom {
  align-items: flex-end;
}

.items-vertical-center {
  align-items: center;
}

.items-vertical-stretch {
  align-items: stretch;
}

.items-vertical-baseline {
  align-items: baseline;
}

/*
========================================================================================================================
  LAYOUT - ITEMS ORIENTATION
========================================================================================================================
*/

.orientation-horizontal {
  flex-direction: row;
}

.orientation-vertical {
  flex-direction: column;
}

/*
========================================================================================================================
  LAYOUT - SPACE MANAGEMENT
========================================================================================================================
*/
.fill-space {
  flex-grow: 1;
}