stack-container {
  display: block;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    li {
      cursor: pointer;
    }
  }

  .sc_tab {
    display: block;
    height: 100%;
    background: green;
    margin: 0.2rem;
  }
}