<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./../../styles/style.css">
    <style>
        body {
            font-size: 16px;
            width: 50%;
            margin-left: 25%;
        }

        h1 {
            font-size: 1.5rem;
        }

        h2 {
            color: steelblue;
            font-size: 1rem;
        }

        .parent-container {
            background: steelblue;
            color: white;
            height: 3rem;
        }

        .parent-container div {
            background: orangered;
            padding-left:0.5rem;
            padding-right: 0.5rem;
        }
    </style>
</head>
<body>

    <h1>Horizontal Layout</h1>

    <h2>Left</h2>
    <div class="parent-container container items-left">
        <div>Item 1</div>
        <div>Item 2</div>
        <div>Item 3</div>
    </div>

    <h2>Center</h2>
    <div class="parent-container container items-horizontal-center">
        <div>Item 1</div>
        <div>Item 2</div>
        <div>Item 3</div>
    </div>

    <h2>Right</h2>
    <div class="parent-container container items-right">
        <div>Item 1</div>
        <div>Item 2</div>
        <div>Item 3</div>
    </div>

    <h2>Space Around</h2>
    <div class="parent-container container items-space-around">
        <div>Item 1</div>
        <div>Item 2</div>
        <div>Item 3</div>
    </div>

    <h2>Space Between</h2>
    <div class="parent-container container items-space-between">
        <div>Item 1</div>
        <div>Item 2</div>
        <div>Item 3</div>
    </div>

    <h1>Vertical Layout</h1>

    <h2>Left</h2>
    <div class="parent-container container items-top">
        <div>Item 1</div>
        <div>Item 2</div>
        <div>Item 3</div>
    </div>

    <h2>Center</h2>
    <div class="parent-container container items-vertical-center">
        <div>Item 1</div>
        <div>Item 2</div>
        <div>Item 3</div>
    </div>

    <h2>Right</h2>
    <div class="parent-container container items-bottom">
        <div>Item 1</div>
        <div>Item 2</div>
        <div>Item 3</div>
    </div>

    <h2>Stretch</h2>
    <div class="parent-container container items-vertical-stretch">
        <div>Item 1</div>
        <div>Item 2</div>
        <div>Item 3</div>
    </div>

    <h2>Base Line</h2>
    <div class="parent-container container items-vertical-baseline">
        <div>Item 1</div>
        <div style="height: 1.5rem; margin-top: 1rem">align to me</div>
        <div>Item 3</div>
    </div>

    <h1>Custom Layouts</h1>

    <h2>Items vertically and horizontally center of parent</h2>
    <div class="parent-container container items-horizontal-center items-vertical-center">
        <div>Item 1</div>
        <div>Item 2</div>
        <div>Item 3</div>
    </div>

    <h2>Items right and bottom</h2>
    <div class="parent-container container items-right items-bottom">
        <div>Item 1</div>
        <div>Item 2</div>
        <div>Item 3</div>
    </div>

    <h2>Grow item to take up space</h2>
    <div class="parent-container container items-vertical-center">
        <div>Item 1</div>
        <div class="fill-space">Item 2</div>
        <div>Item 3</div>
    </div>

    <h2>Spacer between items to fill space</h2>
    <div class="parent-container container items-vertical-center">
        <div>Item 1</div>
        <div>Item 2</div>
        <span class="fill-space"></span>
        <div>Item 3</div>
    </div>

    <h2>Multiple spacers</h2>
    <div class="parent-container container items-vertical-center">
        <div>Item 1</div>
        <div>Item 2</div>
        <span class="fill-space"></span>
        <label>This is a label</label>
        <span class="fill-space"></span>
        <div>Item 3</div>
    </div>
</body>
</html>