<template>
    <require from="./../../components/stack-container/stack-container"></require>
    <require from="./../../components/selection-highlight/selection-highlight"></require>
    <require from="./welcome.css"></require>

    <h1>Welcome</h1>

    <div class="tabSheet">
        <selection-highlight selected-item.two-way="selectedTab">
        </selection-highlight>

        <stack-container class="stack-test" item-position="space-around" selected-item.two-way="selectedTab" can-focus="true">
            <li repeat.for="item of items" class="sc_tab" data-id="${item.id}">${item.name}</li>
        </stack-container>
    </div>
</template>